.jumbotron {
  background-color: white;
  margin-top: 3%;
  border: solid;
  border-width: thin;
  border-color: rgba(30, 142, 255, 0.5);
  border-radius: 0em;
  border-bottom-right-radius: 6em;
  border-left: 1.2em solid rgb(91, 192, 222);
  padding: 1.2%;
  margin: 4%;
  background: linear-gradient(90deg, rgba(0, 188, 242, 0.2), rgba(0, 188, 242, 0.2) -180%, white);
  box-shadow: 2px 10px 2px 2px rgba(211, 211, 211, 0.4);
}

.userName {
  margin: 0em 0em 0.5em 4.5em;
}

.badge-success,
.badge-primary,
.badge-info,
.badge-warning {
  font-size: 1em;
}

.badge-warning {
  background-color: darkorange;
}

strong {
  color: dodgerblue;
}

.btn-inverse {
  background-color: rgba(211, 211, 211, 0.5);
  color: black;
  border: solid;
  border-color: rgba(128, 128, 128, 0.5);
  border-width: thin;
}

hr {
  border-style: outset;
}

.navbar {
  background-color: #24292e;
}

.form-control {
  background-color: #3f4448;
  padding: 0.5em 5em 0.5em 5em;
  color: rgba(255, 255, 255, 0.6);
}

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
