.jumbotron {
    background-color: white;
    margin-top: 3%;
    border: solid;
    border-width: thin;
    border-color: rgba(30, 142, 255, 0.5);
    border-radius: 0em;
    padding: 1.2%;
    margin: 4%;
    }

.userName {
    margin: 0em 0em 0.5em 4.5em;
}

.badge-success, .badge-primary, .badge-info, .badge-warning {
    font-size: 1em;
}

.badge-warning {
    background-color: darkorange;
}

strong {
    color: dodgerblue;
}

.btn-inverse {
    background-color: rgba(211, 211, 211, 0.5);
    color: black;
    border: solid;
    border-color: rgba(128, 128, 128, 0.5);
    border-width: thin;
}