<div class="body">
  <form>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Enter a username" name="username" [(ngModel)]="username" (keyup)="searchUser()">
    </div>
  </form>

  <div class='jumbotron'>
    <div class="row">
      <div class="col-md-4">
        <h4 class='userName'>
          <span style='color: rgba(0,0,0,0.6)'>{{userProfile.login}}</span>
        </h4>

        <img src="{{userProfile.avatar_url}}" alt="Profile Image" class="img-responsive profile-img img-thumbnail">
        <br>
        <br>
        <a class="btn btn-inverse" style="width: inherit;" href={{userProfile.html_url}} target="_blank"> View Profile</a>
      </div>

      <div class="col-md-6 offset-md-1" style="margin-top: 1em;">
        <span class="badge badge-primary">{{userProfile.followers}} Followers</span>
        <span class="badge badge-success">{{userProfile.following}} Following</span>
        <span class="badge badge-info">{{userProfile.public_repos}} Public Repos</span>
        <span class="badge badge-warning">{{userProfile.public_gists}} Public Gists</span>
        <br>
        <br>
        <br>
        <p>
          <strong>Username:</strong> {{userProfile.name}}</p>
        <hr>
        <p *ngIf="userProfile.bio">
          <strong>Bio:</strong> {{userProfile.bio}}</p>
        <hr>
        <p *ngIf="userProfile.company">
          <strong>Company:</strong> {{userProfile.company}}</p>
        <hr>
        <p *ngIf="userProfile.location">
          <strong>Location:</strong> {{userProfile.location}}</p>
        <hr>
        <p *ngIf="userProfile.email">
          <strong>Email:</strong> {{userProfile.email}}</p>
        <hr>
        <p>
          <strong>Joined in:</strong> {{userProfile.created_at}}</p>
        <hr>
      </div>
    </div>
  </div>

  <div class="jumbotron">
    <h3 style='color: rgba(0,0,0,0.6)'>Repos</h3>
    <hr>
    <div *ngFor="let repo of repos">
      <div class="row">
        <div class="col-md-9">
          <h4 style="color: dodgerblue;">
            <a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a>
          </h4>
          <p>{{repo.description}}</p>
          <hr>
        </div>
        <div class="col-md-3">
          <span class="badge badge-info">{{repo.watchers}} Watchers</span>
          <span class="badge badge-success">{{repo.forks}} Forks</span>
        </div>
      </div>
    </div>
  </div>
</div>
